@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  font-family: 'Press Start 2P', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282936;
  margin: 0;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #33333350;
  margin: 0;
}
h1,
#score p {
  background: #c42afc;
  background: -webkit-radial-gradient(
    circle,
    #c42afc 0%,
    #1fbffc 50%,
    #905cfc 100%
  );
  background: radial-gradient(circle, #c42afc 0%, #1fbffc 50%, #905cfc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#rules {
  position: absolute;
  margin: 0;
  width: 300px;
  height: auto;
  flex: 1;
  color: #fff;
  font-size: 0.8em;
  padding: 10px;
  line-height: 1.4;
  background-color: #31314d;
}
#rules h2 {
  color: #1fbffc;
}
#btn-rules {
  position: absolute;
  left: -80px;
  top: 155px;
  width: 200px;
  height: 50px;
  margin: 0;
  transform: rotate(270deg);
  color: #1fbffc;
  border: none;
  background-color: #31314d;
}
#btn-rules:hover {
  color: #c42afc;
}
#game {
  flex: 1;
}
#score {
  font-size: 2em;
  justify-content: center;
  gap: 250px;
  display: flex;
}
#score p {
  text-align: center;
  line-height: 1.3em;
}
#game-stage {
  height: 300px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  font-size: 2em;
  background-color: #31314d2a;
}
#game-stage > * {
  color: #1fbffc;
}
#game-stage .move {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
#game-stage img {
  width: 200px;
}
#log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  margin: 20px 0;
  width: 100%;
  height: 15vh;
}
#log p {
  color: #1fbffc;
}
#log button {
  padding: 10px 40px;
  border: double 3px transparent;
  border-radius: 50px;
  background: linear-gradient(#282936, #282936),
    radial-gradient(circle at top left, #1fbffc, #d900c0);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  font-size: 1.2em;
  color: #1fbffc;
  transition: all 0.3s;
}
#log button:hover {
  background: linear-gradient(90deg, #1fbffc, #d900c0),
    radial-gradient(circle at top left, #1fbffc, #d900c0);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: #282936;
}
#moves {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  height: 20vh;
}
#moves button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  max-width: 20%;
  height: auto;
  border: none;
  background-color: #282936;
  border-radius: 10px;
  font-size: 1em;
  color: #1fbffc;
  transition: all 0.3s ease-in-out;
}
#moves button p {
  margin-left: 10px;
}
#moves button:hover {
  transform: scale(1.25);
}
@media screen and (max-width: 1500px) {
  h1 {
    font-size: 1.3em;
  }
  header {
    height: 45px;
  }
  #score {
    font-size: 1.2em;
  }
  #score p {
    line-height: 1.1em;
  }
  #game-stage {
    height: 180px;
    font-size: 1em;
  }
  #game-stage img {
    height: 120px;
  }
  #moves button {
    width: 80px;
  }
}
